@import 'node_modules/express-news-styleguide/init-base';

div.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @include mediaquery(992px) {
        margin: 0 8.33333333%;
    }
}