@import 'node_modules/express-news-styleguide/init-base';

div.ordered-list {
    width: 100%;
    margin-top: 20px;

    div.header {
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        p.title {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 20px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 0;
        }

        @include mediaquery(992px) {
            margin: 0 8.33333333%;
        }
    }
}