@import 'node_modules/express-news-styleguide/init-base';

div.nav-bar {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 50px;
    background: #000;
    z-index: 1000;

    .left {
    	float: left;
    }

    .right {
    	float: right;
    }

    div.links {
        float: left;

        ul {
            margin: 0;
            padding: 0;

            li {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                float: left;
                position: relative;
                display: none;

                a {
                    color: #FFF;
                    line-height: 20px;
                    padding: 10px 15px;
                    position: relative;
                    display: block;
                    background: transparent;
                    text-decoration: none;

                    &:hover {
                        background: #FFF;
                        color: #000;
                    }

                    @include mediaquery($default-tablet) {
                        padding: 15px 15px;
                    }
                }

                @include mediaquery($default-tablet) {
                    display: block;
                }
            }
        }
    }
}